<!DOCTYPE html>
<html>
<head>
  <title>Snitch</title>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", media: "all"  %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.27.3/react-bootstrap.min.js"></script>
  <script>
    var Modal = ReactBootstrap.Modal;
    var Button = ReactBootstrap.Button;
    var Panel = ReactBootstrap.Panel;
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
