<!DOCTYPE html>
<html>
<head>
  <title>Snitch</title>
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="59196986891-gb23akrhp1jlis7m8h4hpt5nghfci9eo.apps.googleusercontent.com">
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", media: "all" %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.27.3/react-bootstrap.min.js"></script>
  <script>
    var Modal = ReactBootstrap.Modal;
    var Button = ReactBootstrap.Button;
    var Panel = ReactBootstrap.Panel;
  </script>
</head>
<body>
  <div class="g-signin2" data-onsuccess="onSignIn"></div>
  <script>
    function onSignIn(googleUser) {
      // Useful data for your client-side scripts:
      var profile = googleUser.getBasicProfile();
      console.log("ID: " + profile.getId()); // Don't send this directly to your server!
      console.log("Name: " + profile.getName());
      console.log("Image URL: " + profile.getImageUrl());
      console.log("Email: " + profile.getEmail());

      // The ID token you need to pass to your backend:
      var id_token = googleUser.getAuthResponse().id_token;
      console.log("ID Token: " + id_token);
    };
  </script>

  <%= yield %>

</body>
</html>